@font-face {
  font-family: "FZXiJinLJW";
  src: url(https://cdn.jsdelivr.net/gh/cyea/distribute@master/font/FZXiJinLJW.ttf)
    format("truetype");
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
}
/* 背景缩小放大动画 */
@keyframes slideshow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #000000 0%, #5788fe 100%);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  font-size: calc(15px + 1vw);
  box-sizing: border-box;
  align-items: center;
  z-index: 99;
}
header .logo {
  font-family: "FZXiJinLJW";
}
header .social {
  display: flex;
  align-items: center;
}
header .social a {
  color: #fff;
  text-decoration: none;
}
header .social .iconfont {
  margin: 0 10px;
  font-size: calc(15px + 1vw);
}
header #he-plugin-simple{
  display: inline-table;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  line-height: 1.5;
  font-family: "FZXiJinLJW";
  font-size: 14px;
}
footer a {
  color: #fff;
  text-decoration: none;
}

#root {
  position: absolute;
  top: 45vh;
  transform: translate(-50%, -50%);
  left: 50vw;
  width: 80vw;
}
#root .verses {
  font-family: "FZXiJinLJW";
  text-align: center;
  word-break: keep-all;
  word-wrap: break-word;
}
#root .verses .verses-content {
  line-height: 1.2;
  font-size: calc(30px + 1vw);
  margin: 0 auto;
}
#root .verses .verses-origin {
  display: flex;
  margin-top: 1em;
  font-size: calc(10px + 1vw);
  justify-content: center;
  align-items: center;
}
#root .verses .verses-origin .author {
  color: #fff;
  background-color: rgb(126, 42, 32);
  border-radius: 3px;
  padding: 3px 4px 3px 3px;
  margin: 0.5em;
  font-size: 67%;
  letter-spacing: -1px;
}
#root .list-container {
  margin-top: 40px;
  text-align: center;
}
@keyframes mouse-like {
  /* 0% {
    opacity: 0.5;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(6px);
    opacity: 0.5;
  } */

  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  75% {
    ransform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
#root .list-container .list {
  display: inline-block;
  box-sizing: border-box;
  width: 130px;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  margin: 10px 20px;
  text-decoration: none;
  color: #fff;
  font-family: "FZXiJinLJW";
  font-size: 20px;
  background: linear-gradient(to left, #fff, #fff) left top no-repeat,
    linear-gradient(to bottom, #fff, #fff) left top no-repeat,
    linear-gradient(to left, #fff, #fff) right top no-repeat,
    linear-gradient(to bottom, #fff, #fff) right top no-repeat,
    linear-gradient(to left, #fff, #fff) left bottom no-repeat,
    linear-gradient(to bottom, #fff, #fff) left bottom no-repeat,
    linear-gradient(to left, #fff, #fff) right bottom no-repeat,
    linear-gradient(to left, #fff, #fff) right bottom no-repeat;
  background-size: 2px 8px, 8px 2px, 2px 8px, 8px 2px;
}
#root .list-container .list:hover {
  color: #88ff8c;
  animation: mouse-like 1.5s linear infinite;
}
